body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(172, 215, 255), #fff);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-decoration: underline;
}

.bgform {
  background-color: #3ec059;
  margin-top: 20px;
  border: solid 2px black;
}

.searchbar,
.résultat {
  background-color: #a1ef9e;
  border-radius: 20px;
  border: 2px solid #727171;
}

select {
  padding: 10px;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #000000;
  font-weight: bold;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  visibility: hidden;
}
